@use '../../sass/abstracts/colors' as *;

.baseButton {
    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 5px;
    width: calc(100% - 25px);
    min-width: 40px;
    text-align: start;

    &:hover {
        transition: color 150ms ease-in-out;
        color: $hubba-500;
    }
}

.channelButton {
    .icon {
        padding-right: 10px;
        height: 25px;
    }

    .name {
        cursor: pointer;
        border: none;
        background: none;
        width: 100%;
        font-size: 16px;
    }
}

.eventButton {
    cursor: pointer;
    border: none;
    background: none;

    padding: 0;
    width: 100%;
    min-width: 40px;
    font-size: 14px;

    &:hover {
        text-decoration: underline;
    }
}

.menuButton {
    .icon {
        filter: invert(41%) sepia(59%) saturate(1569%) hue-rotate(231deg)
            brightness(106%) contrast(103%);
        margin-right: 10px;
        height: 25px;
    }

    .name {
        cursor: pointer;
        border: none;
        background: none;
        width: 100%;
        font-size: 16px;
    }
}

.orgButton {
    cursor: pointer;
    border: none;
    background: none;

    padding: 0;
    width: 100%;
    min-width: 40px;
    font-size: 14px;

    &:hover {
        text-decoration: underline;
    }
}
