.forgotpassword-container {
    display: flex;
    justify-content: center;
    padding-top: 10%;

    h1 {
        margin-bottom: 10px;
    }

    .input-box {
        width: 196px;
    }

    .sendcode-button {
        cursor: pointer;
        margin-top: 10px;
        width: 100px;
        height: 25px;
    }
}
