@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Inter+Tight&display=swap');

$font-family-inter-tight: 'Inter Tight', sans-serif;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

$font-size-root: 16px;
$font-size-base: 1rem;
$line-height-base: 1.5;
