@use '../abstracts' as *;

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: $font-size-root;
}

*,
*::before,
*::after,
input[type='search'] {
    box-sizing: inherit;
}

body {
    background-color: $background;
    color: $text;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-family: $font-family-inter-tight;
}

body,
html {
    height: 100%;
}

#root {
    height: 100%;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    margin: 0;
}

button {
    border: 0;
    background: transparent;
    padding: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

iframe {
    border: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

//
// Remove `list-style` bullets of nav lists.
//

nav ul {
    list-style: none;
}

//
// Make images responsive.
//

img {
    max-width: 100%;
}

[tabindex='-1']:focus {
    outline: none !important;
}

//
// Remove delay from tapping on clickable elements.
//

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
