.login-container {
    display: flex;
    justify-content: center;
    padding-top: 10%;

    h1 {
        margin-bottom: 10px;
        text-align: center;
    }

    .input-box {
        margin-bottom: 10px;
        width: 196px;
        color: var(--background);
    }

    .login-button {
        cursor: pointer;
        width: 100%;
        height: 25px;
        color: var(--background);
    }

    .forgot-button {
        display: block;
        cursor: pointer;
        border: none;
        background: transparent;
        padding-top: 10px;
        text-decoration: underline;
    }
    .signup-button {
        cursor: pointer;
        border: none;
        background: transparent;
        padding-top: 10px;
        text-decoration: underline;
    }
}
