@use '../sass/abstracts/colors' as *;

.sidebar-container {
    position: fixed;
    bottom: 0;
    padding: 2rem;
    width: 15%;
    height: 90%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $hubba-800;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $hubba-500;
        &:hover {
            background-color: darken($hubba-500, 10%);
        }
    }

    .library-title {
        font-size: 22px;
    }

    .section-title {
        color: gray;
        font-weight: bold;
        font-size: 12px;
    }

    .sidebar-library {
        & > *:not(:first-child) {
            margin-top: 30px;
        }
    }

    .section-block {
        & button:not(:first-child) {
            margin-top: 5px;
        }
    }

    .expand-section {
        margin-top: 5px;
        color: gray;
        text-decoration: underline;
    }
}
