@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Inter+Tight&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root {
    height: 100vh;
}

@supports (scrollbar-color: auto) {
  * {
    scrollbar-color: #30313f transparent;
  }
}

@supports selector(::-webkit-scrollbar) {
  *::-webkit-scrollbar {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background: #30313f;
  }
}
