@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Inter+Tight&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-autofit {
        @apply grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}

html,
#root {
    height: 100vh;
}

body {
    @apply bg-hubba-900 text-hubba-100;
}

.truncate-end {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scroll-gutter {
  scrollbar-gutter: stable;
}

@supports (scrollbar-color: auto) {
  * {
    scrollbar-color: #30313f transparent;
  }
}

@supports selector(::-webkit-scrollbar) {
  *::-webkit-scrollbar {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background: #30313f;
  }
}