@use '../../sass/abstracts/colors' as *;

.baseButton {
    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 5px;
    width: calc(100% - 25px);
    min-width: 40px;
    text-align: start;

    &:hover {
        transition: color 150ms ease-in-out;
        color: $hubba-500;
    }
}
