.eventButton {
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border: 2px solid var(--accent2);
    border-radius: 5px;
    background: none;
    padding: 5px;
    padding: 5px;
    width: 100%;
    min-width: 40px;
    font-size: 16px;

    &:hover {
        background: var(--accent2);
    }
}
