.baseButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid var(--accent2);
    border-radius: 5px;
    background: var(--background);
    padding: 5px 0px 5px;
    width: calc(100% - 25px);
    min-width: 40px;
}
